.bottom-container{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 75px;
  background-color:rgb(241, 239, 239);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.bottom-process{
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40%;
}
.bottom-right{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.bottom-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 20px;
}
.bottom-left{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
